
.app-container{
    width: 100%;
    height: 500px;
    background-color: black;
    display: flex;
    flex-direction: column;
    
}

.app-div1{
    width: 100%;
    background-color: red;
    flex: 1;
    display: flex;
    flex-direction: row;

}

.app-div2{
    width: 100%;
    flex: 1;
    background-color: pink;
    display: flex;
    flex-direction: row;
    
}

.app-div3{
    width: 100%;
    flex: 1;
    background-color: aqua;
    display: flex;
    flex-direction: row;

}

.app-div1-1{
    height: 100%;
    background-color: red;
    flex: 1;
    border: solid black 5px;
}

.app-div1-2{
    height: 100%;
    background-color: yellow;
    flex: 2;
    border: solid black 5px;
}

.app-div1-3{
    height: 100%;
    background-color: green;
    flex: 1;
    border: solid black 5px;
}

.app-div2-1{
    height: 100%;
    background-color: skyblue;
    flex: 1;
    border: solid black 5px;
    
}

.app-div2-2{
    height: 100%;
    background-color: royalblue;
    flex: 1;
    border: solid black 5px;
    display: flex;
    flex-direction: column;
}

.app-div3-1{
    height: 100%;
    background-color: purple;
    flex: 3;
    border: solid black 5px;
}

.app-div3-2{
    height: 100%;
    background-color: grey;
    flex: 1;
    border: solid black 5px;
}

.app-div-2-2-1{
    width: 100%;
    background-color: orange;
    flex: 1;
    border: solid red 5px;
    display: flex;
    flex-direction: column;
}

.app-div-2-2-2{
    width: 100%;
    background-color: royalblue;
    flex: 1;
    border: solid red 5px;
    display: flex;
    flex-direction: column;
}

.app-div-2-a{
    height: 100%;
    background-color: orange;
    flex: 2;
    border: solid red 5px;
    display: flex;
    flex-direction: right;
}

.app-div-2-b{
    height: 100%;
    background-color: royalblue;
    flex: 1;
    border: solid red 5px;
    display: flex;
    flex-direction: left;
}

.container{
    width: 100%;
    height: 500px;
    background-color: rgb(0, 71, 138);
    display: flex;
    flex-direction: column;
}

.div-flex-1{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 71, 138);
    display: flex;
    flex-direction: row;
}

.div-flex-2{
    width: 100px;
    height: 100px;
    background-color: rgb(138, 44, 0);
    display: flex;
    flex-direction: center;
}

.div-flex-3{
    width: 100px;
    height: 100px;
    background-color: rgb(138, 113, 0);
    display: flex;
    flex-direction: center;
}

.div-flex-4{
    width: 100px;
    height: 100px;
    background-color: rgb(138, 44, 0);
    display: flex;
    flex-direction: center;
}

.div-flex-5{
    width: 100px;
    height: 100px;
    background-color: rgb(138, 44, 0);
    display: flex;
    flex-direction: center;
}